@use "sass:math";

@mixin aspectRatioBox($width, $height) {
  overflow: hidden;
  padding-top: math.percentage(math.div($height, $width));
  position: relative;
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.iframe-4-3 {
  @include aspectRatioBox(4, 3);
}
